[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/bundle/sleuth"]
	path = vim/.vim/bundle/sleuth
	url = https://tpope.io/vim/sleuth.git
[submodule "vim/.vim/bundle/vim-vue"]
	path = vim/.vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim/.vim/pack/vim-jsx-pretty/start/vim-jsx-pretty"]
	path = vim/.vim/pack/vim-jsx-pretty/start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "vim/.vim/bundle/vim-ruby"]
	path = vim/.vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
